<!DOCTYPE html>
<html>
<head>
    <title>Formulaire de demande de certificat SSL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/css/formulaire.css">

</head>
<body>
    <h1>Formulaire de demande de certificat SSL</h1>
    
    <form action="/upload/certificate" method="post" enctype="multipart/form-data">
        <input type="email" name="email" placeholder="Email"/>
        <input type="file" multiple name="file"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

