<!DOCTYPE html>
<html>
<head>
	<title>Liste de certificats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/formulaire_certifiates.css">
</head>
<body>
	<h1>Liste de certificats</h1>
	<ul>
		<li>{{email}}.pem</li>
		<li>ISEN_ACR.pem</li>
		<li>ISEN_ACI.pem</li>
	</ul>


	<h2>Envoi par mail</h2>
	<form action="/MyCertificates/send_certificate_with_email" method="post">
		<label for="email">Adresse email :</label>
		<span>{{email}}</span>
		<span id ="error_msg" name="error_msg">{{error_msg}}</span>
		<br>
		<input type="submit" value="Envoyer">
	</form>

	
</body>
</html>
