<!DOCTYPE html>
<html>
<head>
	<title>Liste de certificats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/formulaire_certifiates.css">
</head>
<body>
	<h1>Liste de certificats</h1>
	<ul>
		<li>Certificat 1</li>
		<li>Certificat 2</li>
		<li>Certificat 3</li>
	</ul>

	<h2>Téléchargement</h2>
	<p>Cliquez sur le bouton ci-dessous pour télécharger la liste de certificats :</p>
	<a href="lien_vers_le_fichier_pdf" download><button>Télécharger</button></a>

	<h2>Envoi par mail</h2>
	<form action="/MyCertificates/send_certificate_with_email" method="post">
		<label for="email">Adresse email :</label>
		<span>{{email}}</span>
		<br>
		<input type="submit" value="Envoyer">
	</form>
</body>
</html>
