<!DOCTYPE html>
<html>
<head>
    <title>Formulaire de demande de certificat SSL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/formulaire.css">

    
</head>
<body>
  <h1>Formulaire OTP</h1>
  <form action="/uploadCSR" method="post" id="otpForm">
    <label for="email">Email:</label>
    <span id="email" name="email">{{email}}</span>
    <label for="otp">OTP:</label>
    <input type="text" id="otp" name="otp" require><br>
    <button type="submit">Envoyer</button>
  </form>
</body>
</html>

