<!DOCTYPE html>
<html>
<head>
    <title>Formulaire de demande de certificat SSL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/formulaire_csr.css">

</head>
<body>
    <h1>Formulaire de demande de certificat SSL</h1>
    
    <form action="/MyCertificates" method="post" id="csrForm" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <span>{{email}}</span><br>
        <span id ="error_msg" name="error_msg">{{error_msg}}</span>
        <button type="submit">Submit</button>
    </form>

    <h2>Révoquer un certificat</h2>
	<form action="/revoke_certificate" method="post">
		<label for="email">Adresse email :</label>
		<span>{{email}}</span>
		<br>
        <label for="otp" id="otp_label">OTP de révocation :</label>
        <input type="text" id="otp" name="otp">
        <br>
        <label for="motif" id="message_label">Motif de révocation :</label>
        <input type="text" id="message" name="message">
        <br>
        
		<button type="submit">Submit</button>
	</form>
</body>
</html>

