[ ca ]
default_ca = myCA

[ myCA ]
dir = .
new_certs_dir = $dir/newcerts
database = $dir/index
serial = $dir/serial
private_key = $dir/private.key
certificate = $dir/cacert.pem
default_md = sha256
default_days = 1825
policy = myCA_policy
x509_extensions = v3_OCSP
copy_extensions = copy

[ myCA_policy ]
commonName = supplied
stateOrProvinceName = optional
countryName = optional
emailAddress = supplied
organizationName = optional
organizationalUnitName = optional

[ req ]
req_extensions = v3_req
default_bits       = 2048
distinguished_name = req_distinguished_name
prompt             = no
output_password    = mypass

[ req_distinguished_name ]
countryName            = FR
stateOrProvinceName    = France
localityName           = Toulon
organizationName       = ISEN
organizationalUnitName = ISEN
commonName             = ISEN OSCP
emailAddress           = hugo.millet@isen.yncrea.fr


[ v3_req ]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment

[ usr_cert ]
authorityInfoAccess = OCSP;URI:http://127.0.0.1:8888

[ v3_OCSP ]
basicConstraints = critical, CA:false
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = OCSPSigning