[ ca ]
default_ca = myCA

[ myCA ]
dir = Certificats/offline/ACI/
new_certs_dir = $dir/newcerts
database = $dir/index
serial = $dir/serial
private_key = $dir/private.key
certificate = $dir/cacert.pem
default_md = sha256
default_days = 90
policy = myCA_policy
x509_extensions = myCA_extensions
copy_extensions = copy

[ myCA_policy ]
commonName = supplied
stateOrProvinceName = optional
countryName = optional
emailAddress = supplied
organizationName = optional
organizationalUnitName = optional

[ myCA_extensions ]
basicConstraints = critical, CA:false


[ req ]
req_extensions = v3_req
default_bits       = 2048
distinguished_name = req_distinguished_name
prompt             = no
output_password    = mypass

[ req_distinguished_name ]
countryName            = FR
stateOrProvinceName    = France
localityName           = Toulon
organizationName       = ISEN
organizationalUnitName = ISEN
commonName             = ISEN
emailAddress           = hugo.millet@isen.yncrea.fr


[ v3_req ]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment
